Source: nitrux-wallpapers
Section: x11
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=13)
Standards-Version: 4.6.2
Homepage: https://github.com/Nitrux/nitrux-wallpapers

Package: nitrux-wallpapers
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nitrux Wallpapers
  A collection of vibrant, modern wallpapers by Nitrux and contributors.
